name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main", "dev/*" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Install Linux build dependencies (Bevy & SDL)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          pkg-config \
          libasound2-dev \
          libudev-dev \
          libwayland-dev \
          libxkbcommon-dev \
          libx11-dev \
          libxi-dev \
          libxrandr-dev \
          libxcursor-dev \
          libxinerama-dev \
          libsdl2-dev \
          libsdl2-image-dev \
          libsdl2-ttf-dev \
          libsdl2-mixer-dev \
          libsdl2-gfx-dev

    - name: Install MacOS build dependencies (SDL)
      if: matrix.os == 'macos-latest'
      run: |
        brew install sdl2 sdl2_image sdl2_ttf sdl2_mixer sdl2_gfx
        export LIBRARY_PATH="$LIBRARY_PATH:$(brew --prefix)/lib"

    - name: Build
      run: cargo build
    - name: Run tests
      run: cargo test
    - name: Run clippy
      run: cargo clippy -- -D warnings
